body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    margin: 0;
    color: #0099ff;
}

.links {
    margin-top: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.hero {
    background-color: #f0e2ac;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.button {
    background-color: #d84c53f6;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.about {
    text-align: center;
    padding: 50px 20px;
}


.menu-container {
    padding: 50px 20px;
    text-align: center;
}

.menu-container h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.menu-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-card h3 {
    margin-top: 0;
    color: #333;
}

.menu-card p {
    color: #666;
    line-height: 1.4;
}

.price {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ff9800;
    margin: 15px 0;
}

.add-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}